/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 28, 2018, 1:00:41 AM
    Author     : drackow
*/
header{
    background-color: #ddd;
    border-bottom: solid #aeb3b7;
}


.dotted {
    background-image: -webkit-repeating-radial-gradient(center center, rgb(195, 143, 2), rgb(195, 143, 2) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    -webkit-background-size: 12px 12px;
    -moz-background-size: 12px 12px;
    background-size: 12px 12px;
}

.page-title-cont {
    padding-top: 135px;
    padding-bottom: 65px;
}